<!--form (ngSubmit)="onSubmit()" autocomplete="off" novalidate #loginForm="ngForm"-->
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">        
  google.load('visualization', '1.0', {
    'packages': ['corechart']
  });
  
</script>
  <div class="col-xs-1 col-sm-3 col-md-4 col-lg-4 col-xl-4"></div>
  <div class="divtabs">
    <md-card class="app-analytics-display-section">
      <md-card-title>Campaign Wise Performance Statistics</md-card-title>
      <md-card-content>
	  <p>This view allows you to analyze the campaign statistics completed by you till date. 
		It has a stacked column chart with Total Reach, Clicks and Unsubscribes for each campaign.
	  </p>
		<google-chart [data]='columnChartOptions'></google-chart>
      </md-card-content>
      <md-card-actions>
      </md-card-actions>
    </md-card>
  </div>
  <div class="barChartTabs">
      <md-card class="app-analytics-display-section">
      <md-card-title>Group Wise Unsubscription</md-card-title>
      <md-card-content>
	  <p>This is a view of how your contacts have opted for unsubscribing from your campaigns. It shows a bar chart for number of unsubscribes per group that you have created. 
	  </p>
		<google-chart [data]='barChartOptions'></google-chart>
      </md-card-content>
      <md-card-actions>
      </md-card-actions>
    </md-card>
  </div>
   <div class="barChartTabs">
      <md-card class="app-analytics-display-section">
      <md-card-title>Standard Distribution</md-card-title>
      <md-card-content>
		<google-chart [data]='pieChartOptions'></google-chart>
      </md-card-content>
      <md-card-actions>
      </md-card-actions>
    </md-card>
  </div>
<!--/form-->