<!--<small appCompare>hi</small>-->
<!--<script>
  $('.js-show-password-button').on('click', function () {
    var $this = $(this);
    var $input = $($this.data('target'));

    var newType = $input.attr('type') === 'password' ? 'text' : 'password';

    $input.attr('type', newType);
    $this.text(newType === 'password' ? 'show' : 'hide');
  });

</script> -->

<p-growl [value]="msgs"></p-growl>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-8 col-md-offset-1" id="registration-area">
      <form class="form-horizontal" role="form" (ngSubmit)="onSubmit()" autocomplete="off" novalidate #registerForm="ngForm">
        <fieldset>
          <legend>
            <h2>Sign Up Today for FREE</h2>
            <p style="font-size:14px">Create an account for free and start campaigning to your customers, for a better business. <br/> Already have
              an account? <a (click)=applogin() class="link">Log in here</a></p>
            <small id="small">Please register using valid details to use Contact Swing</small>
          </legend>

          <!-- Name Group-->
          <div class="form-group">
            <div class="col-sm-4">
              <input type="text" name="fistName" placeholder="First Name" class="form-control" minlength="5" maxlength="50" required [(ngModel)]="first.name">
              <div *ngIf="firstNameRead.errors && (firstNameRead.dirty || firstNameRead.touched)" class="alert alert-danger">
                <div [hidden]="!firstNameRead.errors.required">
                  First name is required
                </div>
                <div [hidden]="!firstNameRead.errors.maxlength">
                  Max Character Lenght is 50
                </div>
                <div [hidden]="!firstNameRead.dirty || firstNameRead.errors.required">
                  Invalid first name
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <input type="text" name="middleName" placeholder="Middle Name" class="form-control" [(ngModel)]="middle.name">
            </div>
            <div class="col-sm-4">
              <input type="text" name="lastName" placeholder="Last Name" class="form-control" minlength="5" required [(ngModel)]="last.name">
            </div>
          </div>

          <!-- Email ID-->
          <div class="form-group">
            <div class="col-sm-10">
              <input type="email" placeholder="Email Address" class="form-control" emailPattern required [(ngModel)]="user.email" name="email"
                #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            </div>
          </div>

          <!-- Username-->
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" placeholder="Username" class="form-control" name="username" minlength="5" required [(ngModel)]="user.username"
                #username="ngModel">
            </div>
          </div>

          <!-- Password -->
          <div class="form-group">
            <div class="col-sm-10">
              <input type="password" placeholder="Password" class="form-control" compareControl="confirmPassword" sourceCompare="true"
                required [(ngModel)]="user.password" #password="ngModel" name="password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="password" placeholder="Retype-Password" class="form-control" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel"
                compareControl="password" name="confirmPassword">
            </div>
          </div>

          <!-- Address Section -->
          <!-- Form Name -->
          <legend style="padding-top:30px;">Organization Details</legend>
          <!-- Text input-->
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" name="companyName" placeholder="Organization Name" class="form-control" required [(ngModel)]="user.companyName"
                name="companyname" #companyname="ngModel">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" name="phonenumber" placeholder="Phone Number " class="form-control" maxlength="10" required [(ngModel)]="user.phone"
                name="phone" #phone="ngModel">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" name="addressLine1" placeholder="Address Line " class="form-control" maxlength="30" required [(ngModel)]="user.address"
                name="address" #adddress="ngModel">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" name="addressLine2" placeholder="Suite/ Apt " class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <div class="col-sm-4">
              <select class="form-control" required style="height:40px;color: #8f8f8f;" [(ngModel)]="user.country" name="country" (ngModelChange)="getStates($event)">
                  <option value="" disabled selected>Select Country</option>
                  <option *ngFor="let country of countries"  value="{{country.fullName}}">
                    {{country.fullName}}
                  </option>
                </select>

            </div>
            <div class="col-sm-2">
              <select class="form-control" required style="height:40px; color:#8f8f8f;" [(ngModel)]="user.state" name="state" (ngModelChange)="getCities($event)">
                    <option value="" disabled selected>Select State</option>
                    <option *ngFor="let state of states"  value="{{state.name}}">
                      {{state.name}}
                    </option>
                  </select>
            </div>
            <div class="col-sm-4">
              <select class="form-control" required style="height:40px; color:#8f8f8f" [(ngModel)]="user.city" name="city">
                   <option value="" disabled selected>Select City</option>
                  <option *ngFor="let city of cities"  value="{{city.name}}">
                    {{city.name}}
                  </option>
                </select>

            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <input type="text" name="postalCode" placeholder="Post Code" class="form-control" maxlength="10" required [(ngModel)]="user.zipcode"
                name="zipcode" #zipcode="ngModel">
            </div>
          </div>

          <div class="form-check" style="padding-top:20px;">
            <p>By clicking Sign Up button, you agree to Contact Swing's <a>Anti-spam Policy & Terms of Use.</a></p>

          </div>
          <div class="signUp-bt">
            <div class="form-group">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" id="sign-up" [disabled]="!registerForm.form.valid || disabled">Sign Up</button>
              </div>
            </div>
          </div>

          <div class="form-check" style="padding-bottom:30px; color:#8f8f8f">
            <p>&copy;2017 All Rights Reserved. Contact Swing is a registered trademark of <br/><a (click)="bluespace()">Blue Space Technologies, INC.</a>              -- <a>Privacy</a> and <a>Terms</a></p>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

</div>




